<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Booxen_WemakePrice/src/Booxen_WemakePrice.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Booxen_WemakePrice"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Booxen_WemakePrice"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Booxen_WemakePrice"/>
</launchConfiguration>
